@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
*,
*::before,
*::after{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
:root{
  --pmy-desaturatedDark-Cyan:hsl(180, 29%, 50%);
  --lightGrayish-Cyan-BG:hsl(180, 52%, 96%);
  --lightGrayish-Cyan-FILTER-TABS:hsl(180, 31%, 95%);
  --dark-Grayish-Cyan:hsl(180, 8%, 52%);
  --veryDark-grayish-Cyan: hsl(180, 14%, 20%);
  --default-FontSize:clamp(0.938rem, 0.093vw + 0.919rem, 1rem);
}

body{
  font-family: 'League Spartan',Cambria,sans-serif;
  font-size: var(--default-FontSize);
  background-color: var(--lightGrayish-Cyan-BG);
}
button{
  font-family: inherit;
  font-size: inherit;
  border:none;
  cursor: pointer;
}
img{
  max-width:100%;
  object-fit:cover;
}
h2{
  font-size:1.2rem;
}



.header-section{
  height:26vh;
  width:100%;
  background-color:var(--pmy-desaturatedDark-Cyan);
  position: relative;
}
.header-section::after{
  content:"";
  width:100%;
  height:100%;
  background-image:url('/images/bg-header-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.jobs{
  max-width:87%;
  margin-inline:auto;
}
.job-data-container{
  background-color:hsl(0, 0%, 100%);
  margin-block:3.2em;
  box-shadow:0 8px 10px rgba(158, 206, 207, 0.527);
  border-radius:7px;
  max-width:100%;
  padding-inline:1em;
  padding-block:1em;
  position: relative;
}
.job-data-container:first-of-type{
  margin-top: 3em;
}
.featured-job::after{
  content:"";
  position: absolute;
  width:.3em;
  height:100%;
  top:0;
  left:-.3em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index:-1;
  background-color:var(--pmy-desaturatedDark-Cyan);
}
.job-data-container img{
  position: absolute;
  top:-2em;
  width:3.2rem;
}
.row{
  margin-top:1.5em;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.row span{
  margin-left:.5em;
}
.new,
.featured{
  font-weight: 700;
  font-size: .8rem;
  color:white;
  padding:.3em .4em;
  border-radius: 20px;
  text-transform: uppercase;
}
.row h2{
  color:var(--pmy-desaturatedDark-Cyan);
  margin-right:.5em;
}
.new{
  background-color:var(--pmy-desaturatedDark-Cyan);
}
.featured{
  background-color:var(--veryDark-grayish-Cyan);
}

.job-position{
  color:var(--veryDark-grayish-Cyan);
  margin-block:.7em;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  cursor: pointer;
}

.job-short-details{
  padding-bottom:1em;
  margin-block:.5em 1em;
  border-bottom:1px solid rgb(214, 211, 211);
}
.job-short-details ul{
  display:flex;
  align-items: center;
}
.job-short-details li{
  color:var(--dark-Grayish-Cyan);
  margin-left:1.9em;
  position: relative;
  list-style-type: style type disc;
  padding-inline:.2em;
}

.job-short-details li:nth-child(1){
  margin-inline:0;
  list-style: none;
}


.tag-section button{
  padding:.4em .7em;
  border-radius: 3px;
  background-color: var(--lightGrayish-Cyan-BG);
  color:var(--pmy-desaturatedDark-Cyan);
  font-weight: 700;
  margin:.4em .2em;
  transition: .3s ease-in-out;
}

.chosen-tags{
  max-width:80%;
  margin:auto;
  position: relative;
  top:-2.3em;
  background-color:hsl(0, 0%, 100%);
  padding:1em;
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-height:6rem;
}
.chosen-tags > div{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  margin-right:1em;
  width:90%;
}
.tag{
  background-color:var(--lightGrayish-Cyan-BG);
  color:var(--pmy-desaturatedDark-Cyan);
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding:0 .5em;
  padding-right:0;
}
.tag > img{
  background-color:var(--pmy-desaturatedDark-Cyan);
  height:100%;
  display:block;
  padding:.5em;
  margin-left: .7em;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s linear;
  -webkit-transition: .3s linear;
}
.clear{
  position: relative;
  bottom:50%;
  right:1em;
  background:none;
  color:var(--dark-Grayish-Cyan);
  width:8%;
  font-weight: 700;
  position: relative;
}
.clear::after{
  content:"";
  position: absolute;
  height:.1em;
  background-color: var(--pmy-desaturatedDark-Cyan);
  margin:-3px;
  width:0;
  display:block;
  transition: .3s ease-in;
  margin-inline:auto;
  left:0;
  right:0;
}


/* Hover and active states */
button:focus{
  border:none !important;
  outline:none !important;
}
.tag-section button:hover{
  color:hsl(0, 0%, 100%);
  background-color: var(--pmy-desaturatedDark-Cyan);
}
.clear:hover{
  color:var(--pmy-desaturatedDark-Cyan)
}
.clear:hover::after{
  width:50%;
}

.tag > img:hover{
  background-color: var(--veryDark-grayish-Cyan);
}
.job-position:hover{
  color:var(--pmy-desaturatedDark-Cyan);
}




@media (min-width:60rem) {
  .header-section::after{
    background-image: url('/images/bg-header-desktop.svg');
  }
  .featured-job::after{
    height:98%;
  }
  .job-data-container:first-of-type{
    margin-top: 1.4em;
  }
  .job-data-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width:83%;
    margin-inline:auto;
    padding-left:6.5em;
    padding-block:.5em;
  }
  .job-short-details{
    border:none;
    margin:0;
  }
  .job-position{
    margin-block:.5em;
  }
  .job-data-container img{
    top:1.7em;
    width:4.8em;
    left:1em;
  }
  .row span{
    padding:.4em .7em .3em;
  }
  ul li{
    margin-inline:1.3em!important;
  }
  .job-short-details li:nth-child(1){
    margin-inline:0 1em !important;
    padding-left:0;
  }
  .tag-section button{
    padding-block:.5em;
  }
  .chosen-tags{
    max-height:8rem;
    max-width:83%;
  }
}
